
<div class="row">
 <div class="col-md-6">
<h1>Public Entries</h1>
 
 <% @wikis.each do |wiki| %>
 <% if current_user.role == 'standard' && wiki.private? %>
 <% next %>
 <% else %>
 <%= render partial: 'wikis/wiki', locals: {wiki: wiki} %>
 <% end %>
 <% end %>
 
 </div>

 <div class="holding col-md-6">
  Placeholder text for later
  <%= link_to "New Entry", new_wiki_path(@wiki), class: 'btn btn-success' %>
  
  </div>
 </div>
